
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color:#ecfdff;" id="main">
    <header class="page-header">
        <div class="container">
            <h1  style="padding-top:170px; text-align:center; color:cornflowerblue;" class="title; col-md-12 col-sm-12"><u style="color:cornflowerblue">Hakkımızda</u></h1>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="content blog blog-post col-sm-12 col-md-12">
                <article class="post">

                    <div style="text-align:center;" class="entry-content">
                        <p ><span  style="font-size: 14px; color:indianred; ">  Başta sadece çocuklarımızın “daha sağlıklı” olması amacıyla normalden daha fazla para ödeyerek satın aldığımız doğal ürünlerin, aslında “daha sağlıklı” değil, sağlığımızı kaybetmemek için “zorunlu” olduğunu öğrendiğimizde, benzer ürünleri kendimiz için de aramaya başladık.</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Peki, son dönemde her bitkisel ürün paketinin üzerinde görmeye alıştığımız “doğal” ve “organik” kelimeleri ne kadar gerçeği yansıtmakta?</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  İşlenmiş gıdalara kimyasal katkı maddelerinin, renklendiricilerin ya da tatlandırıcıların eklenmemiş olması, bu gıdaları “organik” ya da “doğal” olarak nitelendirmek için yeterli değildir. Aynı şekilde, işlenmemiş bitkisel ürünler için de geçerli olan kriterlere bakarak hareket etmek ve bir ürünün doğal ya da organik olup olmadığına karar vermek gerekiyor.</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Bitkisel bir ürünün organik olabilmesi için yaşaması gereken uzun ve zorlu bir serüven vardır. Bu serüven henüz tohumken başlar ve soframıza gelene kadar devam eder. GDO’lu olmayan bir tohum toprağa ekildikten sonra, kimyasal olmayan gübre ve doğru sulama yöntemi ile mevsiminde hasat edilmediği sürece, o ürünün organik oluşundan söz edilemez. Bu süreçte tohumun yapısı, kullanılan gübre ve koruyucu ilaç ve hatta sulama yöntemi bile önemlidir. &nbsp;&nbsp;</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Bahsettiğimiz süreçte, en önemli etken doğal olarak o ürünü üreten kişi yani çiftçidir. Bilinçli, dürüst ve sabırlı bir çiftçilik süreci sonrası ortaya çıkan organik ürünler, inorganik ürünlere göre daha uzun sürede ve genelde daha az üretilirler. Bu da, o ürünün fiyatına yansır; işte bu nedenle de organik ürünlerin fiyatları, marketlerdeki ürünlerin fiyatlarından daha yüksektir.</span></p>

                        <h2><strong><span style="font-size: 18px; color:rosybrown">Organik ürün tüketimi neden önemlidir?</span></strong></h2>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Türkiye’de son yıllarda önemli bir sağlık sorunu ortaya çıktı; Toplumun antibiyotik direnci düştü. Bu durum başta hayvansal gıdalar olmak üzere, tükettiğimiz birçok gıdanın kimyasal takviyelerle zamanından önce, olması gerekenden daha büyük ve fazla üretilmesi nedeniyle ortaya çıktı. Bu nedenle de, herhangi bir hastalık durumunda almamız gereken antibiyotik miktarı, eskiye göre ciddi oranda yükseldi.</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Bunun gibi birçok örnek ortaya koyulabilir ve hepsinin temelinde, doğallıktan uzak, kimyasal içeriklerle desteklenerek yetiştirilmiş bitkisel ve hayvansal gıdalar vardır.</span></p>

                        <h2><strong><span style="font-size: 18px;color:rosybrown">Şifa Niyetine Nerede Duruyor?</span></strong></h2>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Şifa Niyetine olarak, biz tam bu noktada durduk ve kapılarımızı sadece doğal ve organik üretim gerçekleştiren üreticilere açtık. Uzun ve titiz bir araştırma sonrasında yüzlerce üretici arasından sadece bilinçli ve ürettiğini kendisi de tüketen üreticilerle iletişime geçtik. Bu üreticilerin ürünlerinin ilk aşamasından son aşamasına kadar tüm üretim süreçlerinde gözlem yapıp, müşterilerimize gerçek “Organik” ürünleri sunmayı hedefleyerek faaliyete başladık. Bunun yanı sıra, satışını gerçekleştirdiğimiz her ürünü, müşterilerimize sunmadan önce kendi mutfağımızda, kendi menümüzde kullandık.</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Üretici ile aramızda herhangi üçüncü bir kişi olmadığı ve ürünlerimizin markasına değil, ürün değerine önem verdiğimiz için maliyetlerimizi düşürüp, en uygun fiyatla müşterilerimize sunabiliyoruz.</span></p>

                        <p><span style="font-size: 14px; color:indianred" text-align:center;>  Şifa Niyetine ailesi olarak amacımız hastalık satarak değil, sağlık dağıtarak geçimimizi kazanmaktır. , Bu nedenle, herkesin hakkı olan doğal ve organik ürünlere uygun fiyatlarla ulaşılabilmesi için çok çalışıyoruz ve çalışmaya devam edeceğiz.</span></p>

                    </div>

                

                </article>
            </div>

          

        </div>
    </div>
</section>
<div  style="padding-top:80px; background-color:#ecfdff" class="full-width-box footer_top bottom-padding-mini">
    <div class="container">
        <div class="row services">
            <div class="col-sm-3 col-md-3 big-services-box">
                <a href="#">
                    <div class="big-icon"><i class="fa fa-truck"></i></div>
                    <h4 class="title footer_top_title">ÜCRETSİZ KARGO</h4>
                    <div class="lead">150TL ve Üzeri Siparişlerde</div>
                </a>
            </div><!-- .services-box-two -->

            <div class="col-sm-3 col-md-3 big-services-box">
                <a href="#">
                    <div class="big-icon"><i class="fa fa-check-circle-o"></i></div>
                    <h4 class="title footer_top_title">GARANTİLİ</h4>
                    <div class="lead">Kargoda Kırılmaya Karşı</div>
                </a>
            </div><!-- .services-box-two -->

            <div class="col-sm-3 col-md-3 big-services-box">
                <a href="#">
                    <div class="big-icon"><i class="fa fa-lock"></i></div>
                    <h4 class="title footer_top_title">GÜVENLİ ALIŞVERİŞ</h4>
                    <div class="lead">256 Bit Güvenlik Sertifikası</div>
                </a>
            </div><!-- .services-box-two -->

            <div class="col-sm-3 col-md-3 big-services-box">
                <a href="#">
                    <div class="big-icon"><i class="fa fa-clock-o" ></i></div>
                    <h4 class="title footer_top_title">HIZLI TESLİMAT</h4>
                    <div class="lead">Aynı Gün Kargo Sevkiyat</div>
                </a>
            </div>
        </div>
    </div>
</div>

@*<header  class="page-header">
    <div class="container" >
        <h1 style="padding-top:170px; padding-left:60px; color:cornflowerblue" class="title">Hakkımızda</h1>
    </div>
</header>

<p style="padding:20px; color:dimgrey ">
    Başta sadece çocuklarımızın “daha sağlıklı” olması amacıyla normalden daha fazla para ödeyerek satın aldığımız doğal ürünlerin, aslında “daha sağlıklı” değil, sağlığımızı kaybetmemek için “zorunlu” olduğunu öğrendiğimizde, benzer ürünleri kendimiz için de aramaya başladık.

    Peki, son dönemde her bitkisel ürün paketinin üzerinde görmeye alıştığımız “doğal” ve “organik” kelimeleri ne kadar gerçeği yansıtmakta?

    İşlenmiş gıdalara kimyasal katkı maddelerinin, renklendiricilerin ya da tatlandırıcıların eklenmemiş olması, bu gıdaları “organik” ya da “doğal” olarak nitelendirmek için yeterli değildir. Aynı şekilde, işlenmemiş bitkisel ürünler için de geçerli olan kriterlere bakarak hareket etmek ve bir ürünün doğal ya da organik olup olmadığına karar vermek gerekiyor.

    Bitkisel bir ürünün organik olabilmesi için yaşaması gereken uzun ve zorlu bir serüven vardır. Bu serüven henüz tohumken başlar ve soframıza gelene kadar devam eder. GDO’lu olmayan bir tohum toprağa ekildikten sonra, kimyasal olmayan gübre ve doğru sulama yöntemi ile mevsiminde hasat edilmediği sürece, o ürünün organik oluşundan söz edilemez. Bu süreçte tohumun yapısı, kullanılan gübre ve koruyucu ilaç ve hatta sulama yöntemi bile önemlidir.

    Bahsettiğimiz süreçte, en önemli etken doğal olarak o ürünü üreten kişi yani çiftçidir. Bilinçli, dürüst ve sabırlı bir çiftçilik süreci sonrası ortaya çıkan organik ürünler, inorganik ürünlere göre daha uzun sürede ve genelde daha az üretilirler. Bu da, o ürünün fiyatına yansır; işte bu nedenle de organik ürünlerin fiyatları, marketlerdeki ürünlerin fiyatlarından daha yüksektir.

    Organik ürün tüketimi neden önemlidir?
    Türkiye’de son yıllarda önemli bir sağlık sorunu ortaya çıktı; Toplumun antibiyotik direnci düştü. Bu durum başta hayvansal gıdalar olmak üzere, tükettiğimiz birçok gıdanın kimyasal takviyelerle zamanından önce, olması gerekenden daha büyük ve fazla üretilmesi nedeniyle ortaya çıktı. Bu nedenle de, herhangi bir hastalık durumunda almamız gereken antibiyotik miktarı, eskiye göre ciddi oranda yükseldi.

    Bunun gibi birçok örnek ortaya koyulabilir ve hepsinin temelinde, doğallıktan uzak, kimyasal içeriklerle desteklenerek yetiştirilmiş bitkisel ve hayvansal gıdalar vardır.

    Şifa Niyetine Nerede Duruyor?
    Şifa Niyetine olarak, biz tam bu noktada durduk ve kapılarımızı sadece doğal ve organik üretim gerçekleştiren üreticilere açtık. Uzun ve titiz bir araştırma sonrasında yüzlerce üretici arasından sadece bilinçli ve ürettiğini kendisi de tüketen üreticilerle iletişime geçtik. Bu üreticilerin ürünlerinin ilk aşamasından son aşamasına kadar tüm üretim süreçlerinde gözlem yapıp, müşterilerimize gerçek “Organik” ürünleri sunmayı hedefleyerek faaliyete başladık. Bunun yanı sıra, satışını gerçekleştirdiğimiz her ürünü, müşterilerimize sunmadan önce kendi mutfağımızda, kendi menümüzde kullandık.

    Üretici ile aramızda herhangi üçüncü bir kişi olmadığı ve ürünlerimizin markasına değil, ürün değerine önem verdiğimiz için maliyetlerimizi düşürüp, en uygun fiyatla müşterilerimize sunabiliyoruz.

    Şifa Niyetine ailesi olarak amacımız hastalık satarak değil, sağlık dağıtarak geçimimizi kazanmaktır. , Bu nedenle, herkesin hakkı olan doğal ve organik ürünlere uygun fiyatlarla ulaşılabilmesi için çok çalışıyoruz ve çalışmaya devam edeceğiz.
</p>*@
